[submodule ".vim/bundle/Zenburn"]
	path = .vim/bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/jsyeo/prelude.git
