[submodule ".vim/bundle/Zenburn"]
	path = .vim/bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
