[user]
	name = Jason Yeo
	email = jasonyeo88@gmail.com

[alias]
    glog = log --graph --full-history --all --color --pretty=format:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s"
    st = status
    co = checkout
    br = branch
    undo = reset --soft HEAD~1

[core]
	excludesfile = ~/.gitignore_global

[push]
	default = simple
